body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 50; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.modal-content {
  background-color: #F7FAFC;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #E2E8F0;
  width: 90%;
  max-width: 800px;
  height: 80vh; /* Set a height for the modal */
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  position: relative;
  display: flex; /* Use flexbox */
  flex-direction: column; /* Arrange children vertically */
}

#file-content {
    flex: 1 1 auto; /* Allow file content to grow and shrink */
    overflow-y: auto; /* Add scroll for content that overflows */
    display: flex;
    flex-direction: column;
}

#file-content pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    max-height: 70vh;
    overflow-y: auto;
    background-color: #E2E8F0;
    padding: 10px;
    border-radius: 4px;
}

/* The Close Button */
.close-button {
  color: #A0AEC0;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-button:hover,
.close-button:focus {
  color: #2C3E50;
  text-decoration: none;
}
